﻿@model IEnumerable<ThAmCo.Events.Data.GuestBooking>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attended)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attended)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId, @item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId, @item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId, @item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
